@import "../style/normalize.scss";



.list {
  display: grid;
  margin: 0;
  grid-gap: $space-sm;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  grid-template-areas: 
  'web'
  'branding'
  'illustration';
}

.listItem, .branding, .web, .illustration {
  margin: 0;
  background-color: $dark001;
  color: $white001;
  @include dropShadow;
}

.illustration {
  grid-area: illustration;
  max-width: 100%;
  transition: ease-out .1s all;
}

.text {
  display: grid;
  background-color: black;
  height: 100%;
  overflow: hidden;
}

.container {
  opacity: .5;
  overflow: hidden;
  grid-area: 1/1;
  position: relative;
  place-items: center;
}

.web {
  max-width: 100%;
  grid-area: web;
  transition: ease-out .1s all;
}




.branding {
  max-width: 100%;
  grid-area: branding;
  transition: ease-out .1s all;
}

.web:hover, .illustration:hover, .branding:hover {
  transform: scale(1.01);
  transition: ease-out .1s all;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textLeft {
  text-align: left;
  max-width: 650px;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


@media screen and (min-width: 650px) {
  .list {
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      'web branding'
      'web illustration';
  }
  .web {
    height: 48vw;
    width: 65vw;
  }

  .illustration, .branding {
    height: 23.5vw;
    width: 25vw;
  }
}