@import "../style/normalize.scss";

.divider {
    height: .2em;
    background-color: $dark002;
    width: 100%;
}

.links {
    margin: 0 2em 0 0;
    padding: 1em;
    display: flex;
    flex-flow: column noWrap;
    align-items: center;
}

.footer {
    background-color: $dark001;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    position: relative;
    margin: 0;
    padding-top: 3em;
}

.links a {
    color: white;
}


@media screen and (min-width: 650px) {

    
    .link {
        padding: 0 0 0 1em;
    }
  }