@import "../style/normalize.scss";

.divider {
    height: .2em;
    background: $crazy-gradient repeat;
    width: 100%;
    animation: colorSpin 15s ease-in-out infinite;
}



.header {
    background-color: $dark001;
}

.links {
    margin: 0 2em 0 0;
    padding: var(--space-4) var(--size-gutter);
    display: flex;
    flex-flow: row noWrap;
    align-items: center;
    overflow-x: scroll;
}

a {
    color: white;
}

.link {
    padding: 0 0 0 1em;
}

.contact {
    width: 100%;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    place-items: center;
    justify-content: center;
}

.link svg {
    width: 1.5em;
}

@media screen and (min-width: 650px) {
    .links {
        margin: 0 2em 0 0;
        padding: var(--space-4) var(--size-gutter);
        display: flex;
        flex-flow: row noWrap;
    }

    a {
        color: white;
    }
    
    .link {
        padding: 0 0 0 1em;
    }
  }