@import "../style/normalize.scss";

.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.links div {
    background-color: $dark003;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    color: $white001;

}

.links a {
    text-transform: uppercase;
    place-self: end;
    text-align: right;
}

.links > div {
    border: .8em solid $dark001;
}

.links img {
    border-radius: .5em;
}

.links h2, .links p {
    margin: 0;
}



@media screen and (min-width: 650px) {
    .links {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1100px) {
    .links {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }